MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change-me
USE_DB_AUTH=true
DB_AUTH_SOURCE=admin

# Optional overrides
DB_CONN_STR=mongodb://mongodb:27017/perseverance
BACKEND_IMAGE_TAG=jayakrishnasai/ssp-backend:latest
FRONTEND_IMAGE_TAG=jayakrishnasai/ssp-frontend:latest
FRONTEND_URL=http://32.236.15.154
ALLOW_ANY_ORIGIN=true
